@import 'variables';

.main {
    width: 900px;
    height: 405px;
    margin: 140px auto;

    @media @tablet {
        width: 600px;
        margin: 120px auto;
    }

    .caption {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 160px;
        margin-bottom: 100px;

        @media @tablet {
            margin-bottom: 50px;
        }
        
        .title {
            font-weight: bold;
            margin-bottom: 10px;
            font-size: 48px;
            line-height: 22px;

            @media @tablet {
                font-size: 34px;
                line-height: 16px;
            }
        }

        .text {
            text-align: center;
            width: 530px;
            font-size: 20px;
            line-height: 24px;
            font-weight: 300;
            color: @midnight-black;

            @media @tablet {
                font-size: 18px;
                width: 400px;
            }
        }
    }

    .cards {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;

        .feature-card {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 200px;
            height: 160px;
            padding-left: 25px;
            border-left: 3px solid @dark-gray;

            @media @tablet {
                justify-content: center;
                width: 150px;
                height: 160px;
                padding-left: 15px;
            }

            .icon {
                width: 56px;
                height: 56px;

                @media @tablet {
                    width: 44px;
                    height: 44px;
                }
            }
            
            .title {
                font-weight: bold;
                margin: 5px;
                font-size: 20px;
                line-height: 24px;

                @media @tablet {
                    margin: 10px 0;
                    font-size: 16px;
                    line-height: 20px;
                }
            }

            .text {
                font-weight: 500;
                width: fit-content;
                font-size: 18px;
                line-height: 24px;
                color: @dark-gray;

                @media @tablet {
                    width: 180px;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }
}