nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 0.5px solid @light-gray;

    @media @tablet {
        
    }

    @media @phone {
        width: 100%;
    }

    .logo-container {
        display: flex;

        .nav-text {
            font-weight: 600;
            margin-left: 8px;
            font-size: 32px;
            line-height: 38px;
            display: flex;
            align-items: center;
        }
    }
}