/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-family: "Lato", sans-serif;
  font-size: 62.5%;
  overflow-x: hidden;
}
.container {
  margin: auto;
  max-width: 1440px;
  max-height: 1000px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 0.5px solid #C4C4C4;
}
@media (max-width: 500px) {
  nav {
    padding: 10px;
  }
}
nav .logo-container {
  display: flex;
}
nav .logo-container .nav-text {
  font-weight: 600;
  margin-left: 8px;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
}
.main {
  width: 900px;
  height: 405px;
  margin: 140px auto;
}
@media (max-width: 800px) {
  .main {
    width: 600px;
    margin: 120px auto;
  }
}
@media (max-width: 500px) {
  .main {
    width: 350px;
    margin: 70px auto;
  }
}
.main .caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 160px;
  margin-bottom: 100px;
}
@media (max-width: 800px) {
  .main .caption {
    margin-bottom: 50px;
  }
}
@media (max-width: 500px) {
  .main .caption {
    margin-bottom: 30px;
  }
}
.main .caption .title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 48px;
  line-height: 22px;
}
@media (max-width: 800px) {
  .main .caption .title {
    font-size: 34px;
    line-height: 16px;
  }
}
@media (max-width: 500px) {
  .main .caption .title {
    width: 340px;
    font-size: 22px;
    line-height: 24px;
  }
}
.main .caption .text {
  text-align: center;
  width: 530px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  color: #414A53;
}
@media (max-width: 800px) {
  .main .caption .text {
    font-size: 18px;
    width: 400px;
    margin-bottom: 5px;
  }
}
@media (max-width: 500px) {
  .main .caption .text {
    font-size: 18px;
    width: 300px;
  }
}
.main .cards {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}
@media (max-width: 500px) {
  .main .cards {
    flex-direction: column;
    justify-content: space-evenly;
    padding: auto;
  }
}
.main .cards .feature-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 200px;
  height: 160px;
  padding-left: 25px;
  border-left: 3px solid #6A6A6A;
}
@media (max-width: 800px) {
  .main .cards .feature-card {
    justify-content: center;
    width: 150px;
    height: 160px;
    padding-left: 15px;
  }
}
@media (max-width: 500px) {
  .main .cards .feature-card {
    align-items: center;
    text-align: center;
    width: 180px;
    height: 160px;
    border: none;
  }
}
.main .cards .feature-card .icon {
  width: 56px;
  height: 56px;
}
@media (max-width: 800px) {
  .main .cards .feature-card .icon {
    width: 44px;
    height: 44px;
  }
}
.main .cards .feature-card .title {
  font-weight: bold;
  margin: 5px;
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 800px) {
  .main .cards .feature-card .title {
    margin: 10px 0;
    font-size: 16px;
    line-height: 20px;
  }
}
.main .cards .feature-card .text {
  font-weight: 500;
  width: fit-content;
  font-size: 18px;
  line-height: 24px;
  color: #6A6A6A;
}
@media (max-width: 800px) {
  .main .cards .feature-card .text {
    width: 180px;
    font-size: 14px;
    line-height: 20px;
  }
}
